app.jwt.secret=COLOQUE_UMA_CHAVE_BASE64_AQUI

app.seed.usuarios[0].nome=
app.seed.usuarios[0].email=
app.seed.usuarios[0].senha=
app.seed.usuarios[1].nome=
app.seed.usuarios[1].email=
app.seed.usuarios[1].senha=
